<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container h-100" id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block footer %}{% endblock %}
    </div>
</body>
</html>